*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  max-width: 1200px;
}

.checklist {
  display: flex;
  align-items: center;
  background-color: #3579F5;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  padding: 16px 18px 16px 22px;
}

.checklist__step {
  --step-width: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  width: var(--step-width);
  height: var(--step-width);
  margin-right: 16px;
}

.checklist__circle {
  width: 100%;
  height: 100%;
  position: absolute;
}

.checklist__circle svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.checklist__circle circle {
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 1px;
  r: calc(var(--step-width) / 2  - 2px);
}

.checklist__circle .checklist__progress {
  --circle-length: calc(2 * 28 * 3.14);
  --progress: 0.02;
  stroke: white;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-dasharray: var(--circle-length);
  stroke-dashoffset: calc(var(--circle-length) * (1 - var(--progress)));
}

.checklist__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 68px;
}

.checklist__badge {
  position: relative;
  top: -4px;
  font-size: 12px;
  background-color: #2364DB;
  border-radius: 40px;
  padding: 2px 13px;
}

.checklist__title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
}

.checklist__button {
  border: none;
  outline: none;
  background-color: #F4F8FF;
  color: #4777ED;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  padding: 12px 30px;
}

.checklist__button:hover {
  background-color: #ffffff;
  color: #396eef;
}

@media (max-width: 768px) {
  .checklist {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
  }

  .checklist__step {
    width: 100%;
    margin: 0;
  }

  .checklist__badge { top: 0; }

  .checklist__info { margin: 0; }

  .checklist__button { margin: 0 auto; }
}